@font-face {
  font-family: 'gagalin';
  src: url("fonts/Gagalin/gagalin-regular-webfont.woff2") format("woff2"), url("fonts/Gagalin/gagalin-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("fonts/Ubuntu/ubuntu-b-webfont.woff2") format("woff2"), url("fonts/Ubuntu/ubuntu-b-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("fonts/Ubuntu/ubuntu-light-webfont.woff2") format("woff2"), url("fonts/Ubuntu/ubuntu-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("fonts/Ubuntu/ubuntu-medium-webfont.woff2") format("woff2"), url("fonts/Ubuntu/ubuntu-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("fonts/Ubuntu/ubuntu-regular-webfont.woff2") format("woff2"), url("fonts/Ubuntu/ubuntu-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'lifehack';
  src: url("fonts/lifehack_medium-webfont.woff2") format("woff2"), url("fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

html, body {
  height: 100%; }

body {
  font-family: "Roboto", helvetica, sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  min-width: 980px; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  width: 960px; }

ul {
  padding: 0;
  margin: 0; }

ul li {
  list-style: none; }

.section--header {
  min-height: 650px;
  height: 100vh;
  background: url("../img/section--header/fon.jpg") center center no-repeat;
  background-size: cover;
  font-size: 13px;
  text-transform: uppercase;
  font-family: "ubuntu", helvetica, sans-serif;
  font-weight: bold; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 42px;
  padding-top: 10px; }

.header__col-left {
  margin-right: auto; }

.logo__link {
  display: block; }

.header__col-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.menu {
  margin-right: 11px; }
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .menu__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .menu__item a {
      text-decoration: none; }
    .menu__item:after {
      margin: 0 15px;
      content: "";
      display: block;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background: #fff; }
    .menu__item:last-child:after {
      content: none; }
  .menu__link {
    color: #fff; }

.order-header {
  margin-right: 20px; }
  .order-header__link {
    color: #fff;
    display: block;
    text-decoration: none;
    padding: 10px 15px;
    background-color: #e45028;
    border-radius: 8%; }

.bigburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 20px;
  margin-bottom: 20%; }
  .bigburger__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .bigburger__text-up {
      font-family: "gagalin", helvetica, sans-serif;
      font-weight: 500;
      font-size: 72px;
      color: #f9b43b; }
    .bigburger__text-down {
      color: #fff;
      font-size: 50px;
      font-family: "lifehack", helvetica, sans-serif;
      text-transform: initial; }

.arrow-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
