@font-face {
  font-family: 'gagalin';
  src: url("fonts/Gagalin/gagalin-regular-webfont.woff2") format("woff2"), url("fonts/Gagalin/gagalin-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("fonts/Ubuntu/ubuntu-b-webfont.woff2") format("woff2"), url("fonts/Ubuntu/ubuntu-b-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("fonts/Ubuntu/ubuntu-light-webfont.woff2") format("woff2"), url("fonts/Ubuntu/ubuntu-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("fonts/Ubuntu/ubuntu-medium-webfont.woff2") format("woff2"), url("fonts/Ubuntu/ubuntu-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("fonts/Ubuntu/ubuntu-regular-webfont.woff2") format("woff2"), url("fonts/Ubuntu/ubuntu-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'lifehack';
  src: url("fonts/lifehack_medium-webfont.woff2") format("woff2"), url("fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

html, body {
  height: 100%; }

body {
  font-family: "ubuntu", helvetica, sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  min-width: 980px; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

.container {
  min-height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  width: 960px; }

ul {
  padding: 0;
  margin: 0; }

ul li {
  list-style: none; }

.section {
  min-height: 650px; }

.switcher {
  position: fixed;
  z-index: 1;
  right: 3%;
  top: 12%; }
  .switcher__item {
    margin-bottom: 15px; }
    .switcher__item:last-child {
      margin-bottom: 0; }

.switcher__link {
  position: relative;
  width: 6px;
  height: 6px;
  display: block;
  background: #fff;
  border-radius: 50%; }
  .switcher__link:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    background: transparent;
    border: 1px solid transparent;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .switcher__link--active:before, .switcher__link:hover:before {
    width: 15px;
    height: 15px;
    border-color: #fff; }

.arrow-down {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  top: 90%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1; }

.section--header {
  height: 100vh;
  background: url("../img/section--header/fon.jpg") center center no-repeat;
  background-size: cover;
  font-size: 13px;
  text-transform: uppercase;
  font-family: "ubuntu", helvetica, sans-serif;
  font-weight: bold; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 42px;
  padding-top: 10px; }

.header__col-left {
  margin-right: auto; }

.logo__link {
  display: block; }

.header__col-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.menu {
  margin-right: 11px; }
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .menu__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .menu__item a {
      text-decoration: none; }
    .menu__item:after {
      margin: 0 15px;
      content: "";
      display: block;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background: #fff; }
    .menu__item:last-child:after {
      content: none; }
  .menu__link {
    color: #fff; }

.order-header {
  margin-right: 20px; }
  .order-header__link {
    color: #fff;
    display: block;
    text-decoration: none;
    padding: 10px 15px;
    background-color: #e45028;
    border-radius: 8%; }

.bigburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 20px;
  margin-bottom: 20%; }
  .bigburger__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 10px;
    padding-left: 10px; }
    .bigburger__text-up {
      font-family: "gagalin", helvetica, sans-serif;
      font-weight: 500;
      font-size: 72px;
      color: #f9b43b;
      margin-bottom: 20px; }
    .bigburger__text-down {
      line-height: 1;
      color: #fff;
      font-size: 60px;
      font-family: "lifehack", helvetica, sans-serif;
      text-transform: none; }

.section--best {
  min-height: 650px;
  height: 100vh;
  background: url("../img/section--best/bg.jpg") center center no-repeat;
  background-size: cover; }

.we-best {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .we-best__title {
    font-family: "gagalin", helvetica, sans-serif;
    font-weight: 500;
    font-size: 72px;
    color: #2f3234;
    margin-bottom: 50px; }
  .we-best__item-pic, .we-best__item-title {
    margin-bottom: 30px;
    font-family: "lifehack", helvetica, sans-serif;
    font-weight: 500;
    font-size: 24px; }

.we-best__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline; }

.we-best__item {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-left: 2%;
  padding-right: 2%; }

.we-best__item-pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.we-best__item-title,
.we-best__item-info {
  text-align: center; }

.we-best__item-info {
  color: #787776;
  font-size: 14px; }

.reviews__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.reviews__item--1 {
  background: url("../img/section--reviews/1.jpg") center center no-repeat; }

.reviews__item--2 {
  background: url("../img/section--reviews/2.jpg") center center no-repeat; }

.reviews__item--3 {
  background: url("../img/section--reviews/3.jpg") center center no-repeat; }

.reviews__item--4 {
  background: url("../img/section--reviews/4.jpg") center center no-repeat; }

.reviews__item--5 {
  background: url("../img/section--reviews/5.jpg") center center no-repeat; }

.reviews__item--6 {
  background: url("../img/section--reviews/6.jpg") center center no-repeat; }

.reviews__item--7 {
  background: url("../img/section--reviews/7.jpg") center center no-repeat; }

.reviews__item--8 {
  background: url("../img/section--reviews/8.jpg") center center no-repeat; }

.reviews__item {
  position: relative;
  padding: 12.5% 12.5%;
  width: 25%;
  background-size: cover; }

.reviews__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10% 5%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  background: rgba(77, 77, 77, 0.6);
  -webkit-transition: opacity 0.4s ease-in-out 0s;
  -o-transition: opacity 0.4s ease-in-out 0s;
  transition: opacity 0.4s ease-in-out 0s; }
  .reviews__description:hover {
    opacity: 1; }

.reviews__description-title {
  text-transform: uppercase;
  color: #fff;
  font-family: "gagalin", helvetica, sans-serif;
  font-weight: 500;
  margin-bottom: 40px; }

.reviews__description-text {
  color: #fff;
  margin-bottom: 20px;
  font-weight: 300; }

.reviews__description-link {
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 100%;
  display: block;
  padding: 10px;
  -ms-flex-item-align: start;
  align-self: flex-start;
  background: #2f3234;
  border-radius: 6%; }
