html, body {
  height: 100%;
}

body {
  font-family: "ubuntu", helvetica, sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  min-width: 980px;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}
.container {
  min-height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 960px;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}
.section {
  min-height: 650px;
}