@font-face {
  font-family: 'gagalin';
  src: url("/fonts/Gagalin/gagalin.woff2") format("woff2"), url("/fonts/Gagalin/gagalin.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'ubuntu';
  src: url('../fonts/Ubuntu/UbuntuB.woff2') format('woff2'), url('../fonts/Ubuntu/UbuntuB.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'ubuntu';
  src: url('../fonts/Ubuntu/UbuntuLight.woff2') format('woff2'), url('../fonts/Ubuntu/UbuntuLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'ubuntu';
  src: url('../fonts/Ubuntu/UbuntuMedium.woff2') format('woff2'), url('../fonts/Ubuntu/UbuntuMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'ubuntu';
  src: url('../fonts/Ubuntu/UbuntuRegular.woff2') format('woff2'), url('../fonts/Ubuntu/UbuntuRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'lifehack';
  src: url("../fonts/lifehack.woff2") format("woff2"), url("../fonts/lifehack.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}