.nav {
  position: fixed;
  z-index: 1;
  right: 3%;
  top: 12%;
  &__item {
    margin-bottom: 0.3125rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.nav__link {
  position: relative;
  display: block;
  width: 1.125rem;
  height: 1.125rem;
  &:before {
    content: '';
    width: 1.125rem;
    height: 1.125rem;
    opacity: 0;
    transition: opacity 0.3s;
    position: absolute;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }
 &:after {
  content: '';
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
  background: #fff;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
&--active,
&:hover {
  &:before { 
    width: 1.125rem;
    height: 1.125rem;
    border-color: #fff;
    opacity: 1;
  }
}
}
.btn {
  color: #fff;
  display: block;
  text-decoration: none;
  padding: 0.5rem 0.9375rem;
  background-color: #e45028;
  border-radius: 0.4375rem;
  text-transform: uppercase;
  font-weight: 700;
}
.btn--reviews {
  align-self: flex-start;
  background: #2f3234;
}