.switcher {
  position: fixed;
  right: 3%;
  top: 10%;
}
.switcher__link {
  position: relative;
    padding: 10px;
    width: 4px;
    height: 4px;
    display: block;
    background: transparent;
    border: 1px solid transparent;
    border-radius: 50%;
  &:before {   
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    background: #fff;
    border-radius: 50%;
    margin: auto;
    }
    &--active {
      border-color: #fff;
    }

}