.section--team {
  background: url('../img/section--team/bg.jpg');
  background-size: cover;
  display: flex;
  justify-content: flex-end;
}
.team-right {
  background: #2f3234;
  opacity: .93;
  width: 50%;
  height: 100%;
}