.section--menu {
  background: url('../img/section--menu/bg.jpg');
  background-size: cover;
  position: relative;
}
.menu-left {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.title--menu {
  display: block;
  position: absolute;
  left: 20%;
  top: 13%;
  color: #fff;
}
.menu-right {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.menu-right__content {
  height: 100%;
}
.accordeon-y {
  height: 100%;
}
.accordeon-y__list {
  display: flex;
  height: 100%;
}
.accordeon-y__item {
  display: flex;
}
.accordeon-y__text {
  height: 100%;
  color: #fff;
  background: #2f3234;
  opacity: .93;
  width: 0;
  overflow: hidden;
}
.accordeon-y__link {
  min-width: 5rem;
  text-align: center;
  transform: rotate(180deg);
  font-family: "gagalin", helvetica, sans-serif;
  font-weight: 500;
  display: block;
  writing-mode: tb-rl;
  font-size: 40px;
  color: #fff;
 &--active {
  color: #f9b43b;
  & ~ .accordeon-y__text {
    width: initial;
    overflow: visible;
    padding: 20px 30px;
  }
 }
}
