.section--menu {
  background: url('../img/section--menu/bg.jpg');
  background-size: cover;
  position: relative;
}
.menu-right {
  position: absolute;
  top: 0;
  right: 0;
  background: #2f3234;
 // opacity: .6;
  width: 50%;
  height: 100%;
  display: flex;
}
.accordeon-y {
  height: 100%;
}
.accordeon-y__list {
  display: flex;
  height: 100%;
}
.accordeon-y__item {
  display: flex;
}
.accordeon-y__text {
  //padding: 20px;
  color: #fff;
  width: 0;
  overflow: hidden;
}
.accordeon-y__link {
  line-height: 100%;
  text-align: center;
  transform: rotate(180deg);
  font-family: "gagalin", helvetica, sans-serif;
  font-weight: 500;
  display: block;
  writing-mode: tb-rl;
  font-size: 40px;
  color: #fff;
 &--active {
  & ~ .accordeon-y__text {
    width: initial;
    overflow: visible;
  }
 }
}
