.section--contacts {
  background: url('../img/section--contacts/bg.jpg') center center no-repeat;
  background-size: cover;
  position: relative;
}
.footer {
  position: absolute;
  bottom: 0;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 100%;
  background: url('../img/section--contacts/foot.jpg') center center / cover no-repeat;
}
.container--footer {
  flex-direction: row;
}
.footer__col--left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #fff;
}
.phone {
  color: #e45028;
  font-weight: 700;
}
.footer__col--right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.socials__list {
  display: flex;
}
.socials__item {
  margin-right: 10px;
}
.socials__link {
  display: block;
  width: 20px;
  height: 20px;
}
.socials__link--vk {
  background: url('../img/socials/vk.png') center center no-repeat;
}
.socials__link--fb {
  background: url('../img/socials/fb.png') center center no-repeat;
}
.socials__link--inst {
  background: url('../img/socials/inst.png') center center no-repeat;
}
.socials__link--tw {
  background: url('../img/socials/tw.png') center center no-repeat;
}