
.reviews__list {
  display: flex;
  flex-wrap: wrap;
}

.reviews__item {
  position: relative;
  width: 25%;
  min-height: 325px;
  height: 50vh;
}
.reviews__description {
  overflow: hidden;
  display: flex;
  padding: 10% 5%;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  background: rgba(77, 77, 77, 0.6);
  transition: opacity 0.4s ease-in-out 0s;
  &:hover {
    opacity: 1;
  }
}
.reviews__description-title {
  text-transform: uppercase;
  color: #fff;
  font-family: "gagalin", helvetica, sans-serif;
  font-weight: 500;
  margin-bottom: 40px;
}
.reviews__description-text {
  color: #fff;
  margin-bottom: 20px;
  font-weight: 300;
}
