.section--slider {
  background: linear-gradient(#f9b43b, #eb8d38 40%, #eb8d38 60%, #f9b43b);
  display: flex;
}
.container--slider {
  flex-direction: row;
}
.slider-right,
.slider-left {
  color: #fff;
  width: 50%;
  height: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.arrow-right,
.arrow-left {
  display: flex;
  align-items: center;
  width: 10%;
  justify-content: center;
  height: 80%;
  align-self: center;
}
.arrow-left__link {
  transform: rotate(90deg);
}
.arrow-right__link {
  transform: rotate(-90deg);
}
.slider__big-pic {
  width: 98%;
}
.slider-right p {
  font-family: "ubuntu", helvetica, sans-serif;
  font-weight: 300;
  color: #fcf2eb;
}
.slider-right__price {
  display: flex;
}
.slider-left {
  position: relative;
}
.slider-right__value {
  font-family: "gagalin", helvetica, sans-serif;
  color: #e35028;
  margin-right: 1.25rem;
  & span {
    font-size: 3.125rem;
  }
}
.slider-right--btn {
  align-self: flex-end;
}
.slider-right--title {
  color: #fff;
}
.slider-left__top-desc {
  font-family: "gagalin", helvetica, sans-serif;
 font-size: 0.875rem;
}
.slider-left__in-desc {
  font-family: "gagalin", helvetica, sans-serif;
 font-size: 1.3rem;
}
.slider-left__top {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.625rem 1.25rem;
  background-color: #f08c33;
  border-radius: 0.44rem;
}
.slider-left__bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
}
.kkal {
  position: relative;
}
.slider-left__in-desc {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}