.section--header {
  min-height: 650px;
  height: 100vh;
  background: url('../img/section--header/fon.jpg') center center no-repeat;
  background-size: cover;
  font-size: 13px;
  text-transform: uppercase;
  font-family: "ubuntu", helvetica, sans-serif;
  font-weight: bold;
}
.header {
  display: flex;
  margin-bottom: 42px;
  padding-top: 10px;
}
.header__col-left {
  margin-right: auto;
}
.logo__link {
  display: block;
}
.header__col-right {
  display: flex;
  align-items: center;
}
.menu {
  margin-right: 11px;
  &__list {
    display: flex;
  }
  &__item {
    display: flex;
    align-items: center;
    & a {
      text-decoration: none;
    }
  
    &:after {
      margin: 0 15px;
      content: "";
      display: block;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background: #fff;
    }
    &:last-child:after {
      content: none;
    }
  }
  &__link {
    color: #fff;
  }
}



.order-header {
  margin-right: 20px;

    &__link {
    color: #fff;
    display: block;
    text-decoration: none;
    padding: 10px 15px;
    background-color: #e45028;
    border-radius: 8%;
   }
}
.bigburger {
  display: flex;
  padding-left: 20px;
  margin-bottom: 20%;
  &__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    &-up {
      font-family: "gagalin", helvetica, sans-serif;
      font-weight: 500;
      font-size: 72px;
      color: #f9b43b;
    }
    &-down {
      color: #fff;
      font-size: 50px;
      font-family: "lifehack", helvetica, sans-serif;
      text-transform: initial;
    }
  }

}
.arrow-down {
  display: flex;
  justify-content: center;
}