.reviews {
  height: 100%;
}
.reviews__list {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.reviews__item {
  position: relative;
  width: 25%;
  height: 50%;
}
.reviews__description {
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding: 5% 5%;
  flex-direction: column;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  opacity: 0;
  background: rgba(77, 77, 77, 0.6);
  transition: opacity 0.4s ease-in-out 0s;
  &:hover {
    opacity: 1;
  }
}
.reviews__description-title {
  text-transform: uppercase;
  color: #fff;
  font-family: "gagalin", helvetica, sans-serif;
  font-weight: 500;
  margin-bottom: .7rem;
}
.reviews__description-text {
  color: #fff;
  margin-bottom: 1.25rem;
  font-weight: 300;
}